In [1]:
dataset_path = '../Datasets/SVM-main-data/Social_Network_Ads.csv'

**Load Data**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv(dataset_path)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

**Print unique Target values**

In [3]:
# Extract the values of the 'Purchased' column
target_values = df['Purchased'].values

# Print the target values
np.unique(target_values)

array([0, 1], dtype=int64)

**Data Type of Columns**

In [4]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df['Gender_into_nums'] = pd.factorize(df.Gender)[0]

In [7]:
titles = list(df.columns)
titles

['User ID',
 'Gender',
 'Age',
 'EstimatedSalary',
 'Purchased',
 'Gender_into_nums']

**Swapping columns**

In [8]:
titles[4], titles[5] = titles[5], titles[4]
titles[3], titles[4] = titles[4], titles[3]
titles[2], titles[3] = titles[3], titles[2]

In [9]:
titles

['User ID',
 'Gender',
 'Gender_into_nums',
 'Age',
 'EstimatedSalary',
 'Purchased']

In [10]:
df = df[titles]
df

      User ID  Gender  Gender_into_nums  Age  EstimatedSalary  Purchased
0    15624510    Male                 0   19            19000          0
1    15810944    Male                 0   35            20000          0
2    15668575  Female                 1   26            43000          0
3    15603246  Female                 1   27            57000          0
4    15804002    Male                 0   19            76000          0
..        ...     ...               ...  ...              ...        ...
395  15691863  Female                 1   46            41000          1
396  15706071    Male                 0   51            23000          1
397  15654296  Female                 1   50            20000          1
398  15755018    Male                 0   36            33000          0
399  15594041  Female                 1   49            36000          1

[400 rows x 6 columns]

In [11]:
df.shape

(400, 6)

In [12]:
X = df.iloc[:, [2,3,4]]
Y = df.iloc[:, 5]

In [13]:
X.head()

   Gender_into_nums  Age  EstimatedSalary
0                 0   19            19000
1                 0   35            20000
2                 1   26            43000
3                 1   27            57000
4                 0   19            76000

In [14]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [15]:
# Splitting the dataset into the Training and Test set
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)
print("Training data : ",X_Train.shape)
print("Testing data : ",X_Test.shape)

Training data :  (300, 3)
Testing data :  (100, 3)

**Learning (Training)**

In [16]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=11)
KNN.fit(X_Train, Y_Train)

KNeighborsClassifier(n_neighbors=11)

In [17]:
Y_Pred = KNN.predict(X_Test)

In [18]:
Y_Pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1], dtype=int64)

In [19]:
len(Y_Pred)

100

In [20]:
from sklearn import metrics
accuracy = metrics.accuracy_score(Y_Test, Y_Pred)
print(accuracy)

0.89