In [12]:
dataset_path = "../Datasets/SVM-main-data/Social_Network_Ads.csv"

**Mounting**

In [13]:
# from google.colab import drive
# drive.mount('/content/drive')

**import**

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv(dataset_path)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
# Extract the values of the 'Purchased' column
target_values = df['Purchased'].values

# Print the target values
np.unique(target_values)

array([0, 1])

In [16]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [17]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [18]:
df['Gender_into_nums'] = pd.factorize(df.Gender)[0]

In [19]:
titles = list(df.columns)
titles

['User ID',
 'Gender',
 'Age',
 'EstimatedSalary',
 'Purchased',
 'Gender_into_nums']

In [20]:
titles[4], titles[5] = titles[5], titles[4]
titles[3], titles[4] = titles[4], titles[3]
titles[2], titles[3] = titles[3], titles[2]

In [21]:
titles

['User ID',
 'Gender',
 'Gender_into_nums',
 'Age',
 'EstimatedSalary',
 'Purchased']

In [22]:
df = df[titles]
df

      User ID  Gender  Gender_into_nums  Age  EstimatedSalary  Purchased
0    15624510    Male                 0   19            19000          0
1    15810944    Male                 0   35            20000          0
2    15668575  Female                 1   26            43000          0
3    15603246  Female                 1   27            57000          0
4    15804002    Male                 0   19            76000          0
..        ...     ...               ...  ...              ...        ...
395  15691863  Female                 1   46            41000          1
396  15706071    Male                 0   51            23000          1
397  15654296  Female                 1   50            20000          1
398  15755018    Male                 0   36            33000          0
399  15594041  Female                 1   49            36000          1

[400 rows x 6 columns]

In [23]:
df.shape

(400, 6)

In [24]:
X = df.iloc[:, [2,3,4]]
Y = df.iloc[:, 5]

In [25]:
X.head()

   Gender_into_nums  Age  EstimatedSalary
0                 0   19            19000
1                 0   35            20000
2                 1   26            43000
3                 1   27            57000
4                 0   19            76000

In [26]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [27]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.25, random_state = 0)
print("Training data : ",X_Train.shape)
print("Testing data : ",X_Test.shape)

Training data :  (300, 3)
Testing data :  (100, 3)

In [28]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_Train = sc_X.fit_transform(X_Train)
X_Test = sc_X.transform(X_Test)

In [29]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_Train, Y_Train)

# Predicting the test set results
Y_Pred = classifier.predict(X_Test)

In [30]:
Y_Pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1])

In [31]:
from sklearn import metrics
print('Accuracy Score: with linear kernel')

print(metrics.accuracy_score(Y_Test,Y_Pred))

Accuracy Score: with linear kernel
0.89

In [32]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf')
classifier.fit(X_Train, Y_Train)

# Predicting the test set results
Y_Pred = classifier.predict(X_Test)

print('Accuracy Score: with default rbf kernel')
print(metrics.accuracy_score(Y_Test,Y_Pred))

Accuracy Score: with default rbf kernel
0.93

In [33]:
# 
from sklearn.svm import SVC
#classifier = SVC(kernel = 'rbf', gamma = 10,  random_state=0)  # 93% accuracy
classifier = SVC(kernel = 'rbf', gamma = 15, C=7,  random_state=0) 
classifier.fit(X_Train, Y_Train)

# Predicting the test set results

Y_Pred = classifier.predict(X_Test)

print('Accuracy Score On Test Data: with default rbf kernel')
print(metrics.accuracy_score(Y_Test,Y_Pred))

Accuracy Score On Test Data: with default rbf kernel
0.92

In [34]:
svc=SVC(kernel='poly', degree = 4)
svc.fit(X_Train,Y_Train)

y_pred=svc.predict(X_Test)
print('Accuracy Score:with poly kernel and degree ')
print(metrics.accuracy_score(Y_Test,Y_Pred))

Accuracy Score:with poly kernel and degree
0.92